node_modules/
dist/
build/
.next/
.turbo/
*.tsbuildinfo
.env
.env.local
coverage/
packages/database/generated/
apps/api/generated/
/storage/
**/storage/uploads/
.DS_Store
test.bat
Nouveau Document texte.txt
